* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --one-color: #754403;
}

body {
  background-color: rgb(255, 234, 209);
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  display: flex;
  width: 600px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
}

img {
  width: 100%;
  border-radius: 15px;
}

.omelette {
  margin-top: 30px;
  font-size: 40px;
}

.ingredientes {
  color: var(--one-color);
  margin-top: 20px;
}

.instrucciones {
  color: var(--one-color);
}

.nutricion {
    color: var(--one-color);
    margin-bottom: 20px;
}

.subtitulo {
  margin-top: 10px;
}

.preparacion {
  margin-top: 20px;
  background-color: rgb(250, 242, 249);
  border-radius: 5px;
  padding: 20px;
  /* margin: 3rem; */
}

.preparation {
  margin-top: 5px;
  margin-bottom: 15px;
  color: purple;
}

.lista {
  /* list-style: none; */
  margin: 20px 0 0 30px;
}

.separador {
  margin:30px 0 30px 0;
}

ol li::marker {
  color: var(--one-color);
}

table {
  width: 100%;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

td:first-child {
  text-align: left;
}

td:last-child {
  text-align: left;
  color: var(--one-color);
}

tr:last-child td {
  border-bottom: none;
}